@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.font-title {
    font-family: 'Montserrat', sans-serif;
}

.daterangepicker.auto-apply .drp-buttons {
    display: none;
}

.navbar-nav-underline .navbar-nav-link.active::before {
	background-color: #f57d9e;
}

.table {
	margin: 0;
	max-width: none;
}

.table thead th,
.table thead td {
	outline: 0;
	position: relative;
}

.table thead .sorting_asc,
.table thead .sorting_desc,
.table thead .sorting {
	cursor: pointer;
}

.table thead .sorting,
.table thead .sorting_asc,
.table thead .sorting_desc,
.table thead .sorting_asc_disabled,
.table thead .sorting_desc_disabled {
	padding-right: 2.5rem;
}

.table thead .sorting:before,
.table thead .sorting:after,
.table thead .sorting_asc:after,
.table thead .sorting_desc:after,
.table thead .sorting_asc_disabled:after,
.table thead .sorting_desc_disabled:after {
	content: '';
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	right: 1.25rem;
	font-size: 0.75rem;
	margin-top: -0.375rem;
	display: inline-block;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.table thead .sorting:before {
	content: "";
	margin-top: -0.125rem;
	opacity: 0.5;
}

.table thead .sorting:after {
	content: "";
	margin-top: -0.625rem;
	opacity: 0.5;
}

.table thead .sorting_asc:after {
	content: "";
	opacity: 1;
}

.table thead .sorting_desc:after {
	content: "";
	opacity: 1;
}

.table thead .sorting_asc_disabled:after {
	content: "";
	opacity: 0.25;
}

.table thead .sorting_desc_disabled:after {
	content: "";
	opacity: 0.25;
}

button.list-icons-item:not([class*="text-"]) {
	color: inherit;
}

button.list-icons-item {
	display: inline-block;
	transition: color ease-in-out .15s;
}

button.list-icons-item:hover {
	opacity: 0.7;
}